{% extends "base.html" %}

{% block title %}Home - Blockchain App{% endblock %}

{% block content %}
    <div class="header">
        <h1>NFT Asylum</h1>
        <p class="lead">Upload your image and let the blockchain magic happen</p>
    </div>
    <div class="form-container mx-auto" style="max-width: 500px;">
        <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file-upload" class="custom-file-upload">
                    Choose an image to upload
                </label>
                <input type="file" class="form-control-file" id="file-upload" name="file" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-custom btn-block">Upload</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.querySelector('.custom-file-upload').addEventListener('click', function(event) {
            event.preventDefault();
            document.querySelector('#file-upload').click();
        });

        document.querySelector('#file-upload').addEventListener('change', function() {
            document.querySelector('#upload-form').submit();
        });
    </script>
{% endblock %}
